


nav {
  padding: 0px;
}

.menu {
  align: center;
  width: 100%;
}

.hero {
  position: relative;
  display: flex;
  text-align: center;
}

.nombre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero img{
  display: block;
  margin:auto;
  width: 100%;
  height: auto;
}

/* .contenedor {
    background-color: dimgrey;
   
    margin-right: 5%;
    margin-left: 5%;
} */


nav ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;

  width: 100%;
  display: table;
  text-align: center;

  }

h2{
  text-align: center;
  font-size: 40px;
  letter-spacing: 4px;
  font-family: "Acme", Courier, monospace;
}

h3 {
  font-size: 15px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}


nav ul li {
  float:none;
  display: inline-block;
  text-align: center;
  }

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: "Questrial", Courier, monospace;
}

nav ul li a:hover {
  background-color: #111111;
  font-family: "Questrial", Courier, monospace;
}




section {
  background: white;
  padding: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 60px;
}

section div {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
}


section img {
    width: 20%;
    height: auto;
    float: left;
    margin: 0px 40px;
    border-radius: 15px;
}

section p {
  font-family: 'Yanone Kaffeesatz', Courier, monospace;
  font-size: 20px;
  margin: 20px 40px;
  align-content: center;
}




footer {
  background: #333333;;
  padding: 40px;
  margin: 0px;

}

footer table {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

footer table tr{
  align-items: center;
}

footer table tr td a img {
  width: 50px;
  height: 50px;
}


